.header {
    background: rgb(149,46,102);
    background: linear-gradient(90deg, rgba(149,46,102,1) 0%, rgba(93,33,65,1) 90%);    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 28px;
    position: fixed;
    width: 100%;

    .leftContainer {
        display: flex;
        gap: 34px;
        align-items: center;
    }

    .heading {
        display: flex;
        color: white;
        gap: 12px;
        align-items: center;

        .mainHeading {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .subHeading {
            font-size: 12px;
            padding-left: 20px;
            position: relative;
            padding-top: 5px;
            font-family: "Lato", sans-serif;
            font-weight: 400;

            .bullet {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 28px;
                color: rgba(125, 222, 134, 1)
            }
        }
    }
}