@use '@styles/theme'as *;

.header {
    display: flex;
    background-color: $violet_red;
    justify-content: space-between;
    align-items: center;
    padding: 14px 28px;
    position: fixed;
    width: 100%;
    z-index: 10;

    .leftContainer {
        display: flex;
        gap: 34px;
        align-items: center;
    }

    .heading {
        display: flex;
        color: $white;
        gap: 12px;
        align-items: center;

        .mainHeading {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .subHeading {
            font-size: 12px;
            padding-left: 20px;
            position: relative;
            padding-top: 5px;
            font-family: "Lato", sans-serif;
            font-weight: 400;

            .bullet {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 28px;
                color: $pastel_green;
            }
        }
    }
}