.inputContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 44px;

    .inputMicContainer {
        border: 1px solid rgba(151, 156, 158, 1);
        border-radius: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 16px;
        gap: 16px;

        .input {
            outline: none;
            border: none;
            width: 100%;
        }
    }

    .button {
        background-color: rgba(151, 20, 77, 1);
        padding: 8.5px 12px 8.5px 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 165, 204, 1);
        }
    }
}

.user {
    background-color: rgba(242, 244, 245, 1);
    color: rgba(48, 52, 55, 1);
    padding: 16px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    margin-left: auto;
    margin-right: 24px;
    margin-bottom: 24px;
    max-width: 70%;
    width: 100%;
    overflow-wrap: break-word;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.bot {
    background-color: rgba(255, 234, 243, 1);
    color: rgba(48, 52, 55, 1);
    padding: 16px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    overflow-wrap: anywhere;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.messageContainer {
    display: flex;
    margin-left: 24px;
    margin-bottom: 24px;
    gap: 8px;
    margin-right: 24px;
}

.date {
    text-align: center;
    margin-bottom: 8px;
    color: rgba(114, 119, 122, 1);
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.chat {
    overflow-y: scroll;
    max-height: 80vh;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

}

.botIcon {
    width: 32px !important;
    height: 32px !important;
}

.displayNone {
    display: none;
}