@use '@styles/theme'as *;

.inputContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 16px 16px 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white;


    .inputMicContainer {
        border: 1.5px solid $spanish_gray;
        border-radius: 35px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 5px 3px 5px 20px;
        gap: 16px;

        &:hover {
            cursor: text;
        }

        .input {
            outline: none;
            border: none;
            width: 100%;
            font-size: 14px;
            color: $sonic_silver;
            font-family: "Lato";
            font-weight: 400;
        }
    }

    .button {
        cursor: pointer;
        padding-top: 2px;
    }
}

.time,
.timeUser {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 10px;
    color: $philippine_gray;
    font-family: "Lato";
    font-weight: 400;
}

.timeUser {
    text-align: right;
    margin-right: 24px;
    margin-top: 12px;
}

.user {
    background: $amaranth_deep_purple;
    background: linear-gradient(90deg, $amaranth_deep_purple 0%, $brown_chocolate 90%);
    color: $jet;
    padding: 16px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 24px;
    max-width: 60%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    border-radius: 8px 8px 0px 8px;
    color: $white
}

.userDetail {
    max-width: 60%;
    width: max-content;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.bot {
    color: $jet;
    border: 1px solid $light_gray;
    padding: 16px;
    overflow-wrap: anywhere;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.5px;
    background-color: $white;
    border-radius: 0px 12px 12px;
}

.messageContainer {
    display: flex;
    margin-left: 24px;
    margin-bottom: 10px;
    gap: 8px;
    margin-right: 24px;
}

.chat {
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 74px;
    background-color: $cultured;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.botIcon {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
}

.displayNone {
    display: none;
}

.typing {
    align-self: center;
}

.botReply {
    display: flex;
    flex-direction: column;
}

.suggestionsContainer {
    margin-left: 64px;
    margin-right: 24px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.suggestion {
    border: 1px solid $light_gray;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans";
    color: $jet;
    background-color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        background-color: $old_mauve;
        color: $white
    }
}

.error {
    color: $red;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "Lato";
}

.userIcon {
    margin-bottom: 20px;
    align-self: flex-end;
}

.sliderContainer {
    border: 1px solid $light_gray;
    padding: 16px;
    background-color: $white;
    border-radius: 0px 12px 12px;
    margin-left: 64px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: -4px
}

.micOn {
    height: 52px;
    border-radius: 27%;
}