.inputContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 16px 16px 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;


    .inputMicContainer {
        border: 1.5px solid rgba(151, 156, 158, 1);
        border-radius: 35px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 5px 3px 5px 20px;
        gap: 16px;

        &:hover {
            cursor: text;
        }

        .input {
            outline: none;
            border: none;
            width: 100%;
            font-size: 14px;
            color: #72777A;
            font-family: "Lato";
            font-weight: 400;
            border-radius: 30%;
        }
    }

    .button {
        cursor: pointer;
        padding-top: 2px;
    }
}

.time,
.timeUser {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #8A8A8A;
    font-family: "Lato";
    font-weight: 400;
}

.timeUser {
    margin-left: 0px;
    margin-top: 12px;
}

.user {
    background: rgb(149, 46, 102);
    background: linear-gradient(90deg, rgba(149, 46, 102, 1) 0%, rgba(93, 33, 65, 1) 90%);
    color: rgba(48, 52, 55, 1);
    padding: 16px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    border-radius: 8px 8px 0px 8px;
    color: white
}

.userDetail {
    max-width: 60%;
    width: max-content;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.bot {
    color: rgba(48, 52, 55, 1);
    border: 1px solid rgba(212, 212, 212, 1);
    padding: 16px;
    overflow-wrap: anywhere;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.5px;
    background-color: white;
    border-radius: 0px 12px 12px;
}

.messageContainer {
    display: flex;
    margin-left: 24px;
    margin-bottom: 10px;
    gap: 8px;
    margin-right: 24px;
}

.chat {
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 74px;
    background-color: #f8f8f8;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.botIcon {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
}

.displayNone {
    display: none;
}

.typing {
    // padding-left: 20px;
    align-self: center;
}

.botReply {
    display: flex;
    flex-direction: column;
}

.suggestionsContainer {
    margin-left: 64px;
    margin-right: 24px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.suggestion {
    border: 1px solid #D4D4D4;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans";
    color: #303437;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        background-color: #6B254B;
        color: white
    }
}

.error {
    color: red;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "Lato";
}

.userIcon {
    margin-bottom: 20px;
    align-self: flex-end;
}

.sliderContainer {
    border: 1px solid rgba(212, 212, 212, 1);
    padding: 16px;
    background-color: white;
    border-radius: 0px 12px 12px;
    margin-left: 64px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: -4px
}

.micOn {
    height: 52px;
}