@use '@styles/theme'as *;

.doughnutGraphContainer {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 12px;

    @media screen and (min-width:400px) {
        gap: 40px;
    }

    @media screen and (min-width:430px) {
        gap: 70px;
    }

    .heading {
        color: $independence;
        font-size: 10px;
        display: flex;
        font-family: "Inter", sans-serif;
        font-weight: 500;

        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            margin-top: 7px;
            background-color: currentColor;
            border-radius: 50%;
            margin-right: 4px;
        }
    }

    .percentage {
        font-size: 18px;
        color: $independence;
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }

    .detailsContainer {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

.button {
    border: 1px solid $platium;
    border-radius: 24px;
    width: 100%;
    padding: 8px 0px;
    color: $independence;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 18px 0px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;

}

.headingWrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid $light_silver;

    .heading {
        display: flex;
        justify-content: space-between;
        font-family: "Inter", sans-serif;
        font-size: 10px;
        font-weight: 500;
    }

    .amount {
        font-size: 24px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }
}

.container {
    text-align: -webkit-center;
}

.lineText {
    padding-bottom: 14px;
    font-size: 11px;
    font-family: "Inter";
    font-weight: 500;
    padding-top: 14px;
    text-align: initial;
}

.lineGraph {
    width: 270px;
    margin: -16px 0px;
    height: 190px;

    @media screen and (max-width:390px) {
        width: 260px;
        height: 190px;
        padding: 0px 0px;

    }

    @media screen and (max-width:340px) {
        height: 150px;
        width: 190px;
        padding: 0px;

    }

    @media screen and (min-width:500px) {
        height: 200px;
        width: 350px;
        padding: 0px 24px;

    }
}

.graphCon {
    height: 80px;
    width: 80px;
    align-self: center;

    @media screen and (min-width:380px) {
        height: 130px;
        width: 130px;
    }
}

.barGraph {
    width: 270px;
    padding: 12px 24px 0px;
    margin: -16px 0px;
    height: 190px;
    background: $snow;

    @media screen and (max-width:508px) {
        width: 302px;
        height: 144px;
        padding: 12px 0px 0px 20px;

    }

    @media screen and (max-width:400px) {
        height: 100px;
        width: 200px;
        padding: 12px 0px 0px 12px;

    }

    @media screen and (min-width:510px) {
        height: 200px;
        width: 400px;
        padding: 12px 0px 0px 12px;

    }

    @media screen and (max-width:300px) {
        width: 170px;
        height: 80px;
        padding: 12px 0px 0px 12px;

    }
}