@use '@styles/theme'as *;

.headingWrapper {
    padding-bottom: 13px;
    border-bottom: 1px solid $bright_gray;
    margin-bottom: 26px;

    .heading {
        color: $spanish_grey;
        font-family: "Lato";
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
    }

    .value {
        font-family: "Lato";
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
    }
}

.minMax {
    display: flex;
    justify-content: space-between;
    color: $grey;
    font-family: "Lato";
    font-weight: 500;
    font-size: 9px;
    line-height: 15px;
}

.sliderContainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: $bright_grey;
    margin-bottom: 9px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: $puce;
    border: 5px solid $pansy_purple;
    border-radius: 100%;
}

.button {
    margin: 16px 0px 0px;
    width: 100%;
    border: 0.5px solid $pansy_purple;
    border-radius: 32px;
    color: $gray;
    font-size: 14px;
    font-family: "Lato";
    font-weight: 500;
    line-height: 30px;

    &:hover {
        background-color: $pansy_purple;
        color: $white;
        cursor: pointer;
    }
}