// Primary Colors
$white: #ffffff;
$black: #000000;
$gray: #7C7C7C;
$light_gray:#d4d4d4;
$light_grey: #d2d2d2;
$jet: #303437;
$spanish_grey:#9e9e9e;
$thistle: #E0C2CF;
$snow: #FFF7FB;
$independence: #4b5563;
$platium: #e4e4e4;
$light_silver: #DAD7D2;
$violet_red: #97144D;
$pastel_green: #7dde86;
$red:#ff0000;
$spanish_gray: #979c9e;
$sonic_silver: #72777A;
$philippine_gray: #8A8A8A;
$amaranth_deep_purple: #952e66;
$brown_chocolate: #5d2141;
$cultured:#f8f8f8;
$old_mauve:#6B254B;
$outer_spaces: #47494C;
$bright_gray:#EDEDED;
$grey: #959393;
$bright_grey: #F0EDEF;
$pansy_purple:#761E47;
$puce: #CA89A5;